@import '../../src/assets/style/_variables';
@import '../../src/assets/style/_mixins.scss';
@import '../../src/assets/style/_utils.scss';

section {
  min-height: 560px;
  padding: 0 10%;

  h1 {
    margin-top: 100px;
    font-weight: 500;
  }
  span {
    font-weight: 700;
  }
}
#main {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;

  .main__button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: -webkit-fill-available;

    button {
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
      background: none;
      border: none;
      font-size: 0.8rem;
      color: var(--body-color);
      height: 100px;
      transition: all 0.3s ease;
    
      &:hover {
        color: var(--highlight-blue-color);
      }
      &::after {
        content: '';
        height: 15px;
        width: 0;
        border: 0.5px solid var(--body-color);
        top: 5px;
        position: relative;
        display: flex;
        margin: 0 auto;
      }
    }
  }
}
.highlighted {
  color: var(--highlight-color);
}
.highlighted1 {
  color: var(--highlight-blue-color);
}

#intro {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .intro__row {
    display: flex;
    flex-direction: column;

    @include lg {
      flex-direction: row;
    }

    .intro__description {
      height: 500px;
      width: 100%;
      justify-content: center;
      align-content: center;
      
      @include lg {
        padding-left: 20px;
        width: 65%;
        align-content: flex-start;
      }
    }
    .intro__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      @include lg {
        width: 35%;
      }
    }
  }

  .image {
    object-fit: cover;
    height: 350px;
    width: 350px;
    // @include md {
    //   object-fit: cover;
    // height: 350px;
    // width: 400px;
    // }
  }
}
#skills {
  min-height: 100vh;
}
.skill-container {
  flex-wrap: wrap;
  color: var(--body-color);
}
