@import "../assets/style/_mixins.scss";
@import "../assets/style/_variables";
.header{
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  height: 60px;
  padding: 0px 20px;
}
.header .nav{
  justify-content: flex-start;
  padding-right: 3.5rem;
}
.nav__link {
  margin-left: 20px;
  text-decoration: none;
  color: var(--body-color);
  font-size: 1.2rem;

  @include lg {
    font-size: 1.4rem;
  }
  &:hover {
    color: var(--highlight-color);
  }
}